<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BM.Boulder.IDlinkInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BM.Boulder.IDlinkInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BM.Boulder.IDlinkInterface.Properties.Settings.Connection"
            connectionString="Server=.;Database=BiometricIntegration;Trusted_Connection=True;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <BM.Boulder.IDlinkInterface.Properties.Settings>
            <setting name="TimeToWaitAfterIdentification" serializeAs="String">
                <value>5</value>
            </setting>
        </BM.Boulder.IDlinkInterface.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <BM.Boulder.IDlinkInterface.Properties.Settings>
            <setting name="EnableTCPListener" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ListeningPort" serializeAs="String">
                <value>11020</value>
            </setting>
            <setting name="Key1" serializeAs="String">
                <value>Track</value>
            </setting>
            <setting name="Key2" serializeAs="String">
                <value>Spa</value>
            </setting>
            <setting name="Key3" serializeAs="String">
                <value>Pool</value>
            </setting>
            <setting name="Key4" serializeAs="String">
                <value>Gym</value>
            </setting>
            <setting name="Key5" serializeAs="String">
                <value>Showers</value>
            </setting>
            <setting name="Key6" serializeAs="String">
                <value>Golf</value>
            </setting>
            <setting name="Key7" serializeAs="String">
                <value>Yoga</value>
            </setting>
            <setting name="Key8" serializeAs="String">
                <value>Zumba</value>
            </setting>
            <setting name="Key9" serializeAs="String">
                <value />
            </setting>
            <setting name="Key10" serializeAs="String">
                <value />
            </setting>
            <setting name="Key11" serializeAs="String">
                <value />
            </setting>
            <setting name="Key12" serializeAs="String">
                <value />
            </setting>
            <setting name="Key13" serializeAs="String">
                <value />
            </setting>
            <setting name="Key14" serializeAs="String">
                <value />
            </setting>
            <setting name="Key15" serializeAs="String">
                <value />
            </setting>
            <setting name="Key16" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalIP" serializeAs="String">
                <value>192.168.1.26</value>
            </setting>
            <setting name="TimeAndAttendanceEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </BM.Boulder.IDlinkInterface.Properties.Settings>
    </userSettings>
</configuration>
